.navBar {
  background-color: #63458a;
  height: 13vh;
  display: grid;
  grid-template-columns: 10% 80% 10%;
  /* grid-template-rows: 50% 50%; */
  position:fixed;
  z-index: 10;
  width: 100%;
  top:0%;
  border-bottom-style: solid;
  border-width: 1px;
  border-color: #323232
}

.margin-auto {
  /* margin-left: auto;
  margin-right: auto; */
  width:100px;
}

.searchAndNav{ 
   margin-left: auto;
  margin-right: auto;
}

.mainSearchBar {
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
}

.artist-nav-bar-background {
  background-image: url("../picture1.png");

  /* Add the blur effect */
  filter: blur(7px)  grayscale(50%);

  position: "absolute";

  height: 35vh;
  width:'100%';


  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;
}

#mainDiv {
  margin-top:12vh;
  z-index: 3;
  background: rgba(255, 255, 255, 0.35);
}

#bandNavBar {
  width:100%;
  z-index: 4;

}

#secondaryNavBarAndMainComponents{ width:60%;  position: absolute; display:'flex'; top: 16%; margin-left:20%; margin-right:20%;  justify-content: center; display: inline;
  float: none;}

.stand-out-container {
  background-color: #fff;
  border-color:#c3c6ce;
  border-width: 1px;
  border-style: solid;
  text-align:center; margin:auto; margin-bottom:2vh; margin-top:2vh; width:90%; 
}

.centered-container{
  width:50vw;
  margin-left:auto;
  margin-right:auto;
}
.title{
  margin:auto; text-align:center; font-size: 5vh; padding-bottom: 2vh 
}
.article-title {
   margin:auto; text-align:center; font-size: 2vh; width:90%; font-weight: bold;
}
.article-description {
  margin:auto; text-align:center; font-size:1.7vh; padding-bottom: 2vh; padding-top:1vh; width:90%; overflow:hidden; height: 25%; line-height:100%;

}